Repository Noupin/atropos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @atropos/core-maintainers, @atropos/desktop-team, @atropos/server-team, @atropos/licensing-team, @atropos/infra-team, @atropos/devx-team

.github/CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Review is required from these owners when matching files change.

*                                   @atropos/core-maintainers
/docs/**                            @atropos/core-maintainers
CHANGELOG.md                        @atropos/core-maintainers

# Desktop client
/desktop/**                         @atropos/desktop-team

# Python services
/server/**                          @atropos/server-team

# Licensing worker
/services/licensing/**              @atropos/licensing-team

# Infrastructure & deployment
/infrastructure/**                  @atropos/infra-team

# GitHub metadata
.github/**                          @atropos/devx-team

fix(desktop): add project file url builder
  desktop/src/renderer/src/config/backend.ts
Owners: @atropos/desktop-team

fix(server): preserve candidate metadata for library clips
  server/library.py
  tests/test_library_api.py
Owners: @atropos/server-team, @atropos/core-maintainers

feat(desktop): add editor export dropdown to clip edit
  desktop/src/renderer/src/lib/projectExports.ts
  desktop/src/renderer/src/pages/ClipEdit.tsx
  desktop/src/renderer/src/pages/Home.tsx
Owners: @atropos/desktop-team

fix(export): generate project files on demand
  server/app.py
  server/helpers/project_files.py
  server/library.py
  server/pipeline.py
  tests/test_api.py
Owners: @atropos/server-team, @atropos/core-maintainers

feat(exports): add script for sample export generation
  README.md
  cspell.json
  desktop/src/renderer/src/config/backend.ts
  desktop/src/renderer/src/pages/ClipEdit.tsx
  desktop/src/renderer/src/services/projectExports.ts
  docs/examples/project-export/.gitignore
  docs/examples/project-export/README.md
  docs/exporting.md
  requirements.txt
  server/app.py
  server/common/exports/__init__.py
  server/common/exports/project_exporter.py
  server/common/exports/srt.py
  server/helpers/media.py
  server/interfaces/project_exports.py
  server/scripts/__init__.py
  server/scripts/generate_project_export_example.py
  tests/server/exports/test_project_exporter.py
Owners: @atropos/core-maintainers, @atropos/desktop-team, @atropos/server-team

feat(desktop): add project export action buttons
  desktop/src/renderer/src/components/ProjectExportButton.tsx
  desktop/src/renderer/src/pages/ClipEdit.tsx
  desktop/src/renderer/src/pages/VideoWorkspace.tsx
Owners: @atropos/desktop-team

fix(desktop): surface clip export button
  desktop/src/renderer/src/pages/ClipEdit.tsx
Owners: @atropos/desktop-team

feat(desktop): add editor-specific project export menu
  desktop/src/renderer/src/components/ProjectExportButton.tsx
  desktop/src/renderer/src/config/backend.ts
  desktop/src/renderer/src/services/projectExports.ts
Owners: @atropos/desktop-team

fix(exports): handle missing timeline dependency
  cspell.json
  docs/exporting.md
  server/common/exports/project_exporter.py
  server/interfaces/project_exports.py
  tests/server/exports/test_project_exporter.py
Owners: @atropos/core-maintainers, @atropos/server-team

feat(server): improve project export logging
  server/common/exports/project_exporter.py
  server/interfaces/project_exports.py
Owners: @atropos/server-team

feat(exports): emit native NLE project packages
  cspell.json
  docs/exporting.md
  server/common/exports/native_projects.py
  server/common/exports/project_exporter.py
  server/common/exports/vendor/otio_fcp_adapter/__init__.py
  server/common/exports/vendor/otio_fcp_adapter/fcp_xml.py
  tests/server/exports/test_project_exporter.py
Owners: @atropos/core-maintainers, @atropos/server-team

fix(resolve): add resolve config stubs
  docs/exporting.md
  server/common/exports/native_projects.py
  tests/server/exports/test_project_exporter.py
Owners: @atropos/core-maintainers, @atropos/server-team

fix(exports): fallback resolve exports to fcpxml
  docs/exporting.md
  server/common/exports/native_projects.py
  server/common/exports/project_exporter.py
  tests/server/exports/test_project_exporter.py
Owners: @atropos/core-maintainers, @atropos/server-team

feat(exporter): add layered resolve exports with compatibility logs
  docs/exporting.md
  server/common/exports/project_exporter.py
  tests/server/exports/test_project_exporter.py
Owners: @atropos/core-maintainers, @atropos/server-team

fix(exports): set generator reference ranges
  server/common/exports/project_exporter.py
Owners: @atropos/server-team

fix(export): guard generator references without urls
  server/common/exports/vendor/otio_fcp_adapter/fcp_xml.py
  tests/server/exports/test_project_exporter.py
Owners: @atropos/server-team, @atropos/core-maintainers

fix: stabilise pipeline input flows
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/data/pipeline.ts
  desktop/src/renderer/src/pages/Home.tsx
  desktop/src/renderer/src/services/pipelineApi.ts
  desktop/src/renderer/src/state/usePipelineProgress.ts
  desktop/src/renderer/src/tests/app.test.tsx
  desktop/src/renderer/src/tests/clipcard.test.tsx
  desktop/src/renderer/src/tests/home.offline.test.tsx
  desktop/src/renderer/src/tests/home.test.tsx
  desktop/src/renderer/src/tests/pipelineapi.test.ts
  desktop/src/renderer/src/tests/profile.test.tsx
  desktop/src/renderer/src/types.ts
  server/app.py
  server/helpers/audio.py
  server/pipeline.py
  server/steps/download.py
  tests/test_api.py
  tests/test_transcribe.py
Owners: @atropos/desktop-team, @atropos/server-team, @atropos/core-maintainers

fix(server): accept generic video upload types
  server/app.py
  tests/test_api.py
Owners: @atropos/server-team, @atropos/core-maintainers

feat(pipeline): support local video sources
  desktop/src/main/index.ts
  desktop/src/preload/index.d.ts
  desktop/src/preload/index.ts
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/pages/Home.tsx
  desktop/src/renderer/src/services/pipelineApi.ts
  desktop/src/renderer/src/state/usePipelineProgress.ts
  desktop/src/renderer/src/tests/home.offline.test.tsx
  desktop/src/renderer/src/tests/home.test.tsx
  desktop/src/renderer/src/types.ts
  server/app.py
  server/helpers/audio.py
  server/pipeline.py
  tests/test_api.py
Owners: @atropos/desktop-team, @atropos/server-team, @atropos/core-maintainers

fix(desktop): clarify file picker fallback message
  desktop/src/renderer/src/pages/Home.tsx
Owners: @atropos/desktop-team

fix(desktop): open video picker from main process
  desktop/src/main/index.ts
  desktop/src/preload/index.d.ts
  desktop/src/preload/index.ts
  desktop/src/renderer/src/pages/Home.tsx
  desktop/src/renderer/src/tests/home.test.tsx
Owners: @atropos/desktop-team

feat(desktop): add segmented source picker to home form
  desktop/src/renderer/src/pages/Home.tsx
  desktop/src/renderer/src/tests/home.test.tsx
Owners: @atropos/desktop-team

feat(desktop): simplify home source header
  desktop/src/renderer/src/pages/Home.tsx
  desktop/src/renderer/src/tests/home.test.tsx
Owners: @atropos/desktop-team

feat(desktop): add segmented video workspace
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/pages/Clip.tsx
  desktop/src/renderer/src/pages/ClipEdit.tsx
  desktop/src/renderer/src/pages/Library.tsx
  desktop/src/renderer/src/pages/VideoPage.tsx
  desktop/src/renderer/src/pages/VideoWorkspace.tsx
Owners: @atropos/desktop-team

feat(desktop): reorganize video page modes
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/pages/Clip.tsx
  desktop/src/renderer/src/pages/ClipEdit.tsx
  desktop/src/renderer/src/pages/Library.tsx
  desktop/src/renderer/src/pages/VideoPage.tsx
Owners: @atropos/desktop-team

fix(video-page): show active mode subtab label
  desktop/src/renderer/src/App.tsx
Owners: @atropos/desktop-team

refactor(desktop): fold edit flow into video page
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/pages/Clip.tsx
  desktop/src/renderer/src/pages/ClipEdit.tsx
  desktop/src/renderer/src/pages/Home.tsx
  desktop/src/renderer/src/pages/Library.tsx
  desktop/src/renderer/src/pages/VideoPage.tsx
Owners: @atropos/desktop-team

fix(video): persist clip context across segments
  desktop/src/renderer/src/pages/VideoPage.tsx
Owners: @atropos/desktop-team

fix(desktop): clamp trim preview playback
  desktop/src/renderer/src/lib/clipPreview.ts
  desktop/src/renderer/src/pages/VideoPage.tsx
  desktop/src/renderer/src/tests/clipPreview.test.ts
  desktop/src/renderer/src/tests/videoPagePreview.test.tsx
Owners: @atropos/desktop-team

fix(trim): clamp adjusted preview to trim window
  desktop/src/renderer/src/lib/clipPreview.ts
  desktop/src/renderer/src/pages/VideoPage.tsx
  desktop/src/renderer/src/tests/clipPreview.test.ts
Owners: @atropos/desktop-team

fix(trim-preview): clamp adjusted playback to clip window
  desktop/src/renderer/src/lib/clipPreview.ts
  desktop/src/renderer/src/pages/VideoPage.tsx
  desktop/src/renderer/src/tests/clipPreview.test.ts
  desktop/src/renderer/src/tests/videoPagePreview.test.tsx
Owners: @atropos/desktop-team

fix(desktop): use raw source for trim adjusted preview
  desktop/src/renderer/src/pages/VideoPage.tsx
  desktop/src/renderer/src/tests/videoPagePreview.test.tsx
Owners: @atropos/desktop-team

feat(desktop): reimplement adjusted preview playback
  desktop/src/renderer/src/components/AdjustedPreviewPlayer.test.tsx
  desktop/src/renderer/src/components/AdjustedPreviewPlayer.tsx
  desktop/src/renderer/src/lib/adjustedPreviewTiming.ts
  desktop/src/renderer/src/pages/VideoPage.tsx
Owners: @atropos/desktop-team

fix(trim): hoist preview sync callback
  desktop/src/renderer/src/pages/VideoPage.tsx
Owners: @atropos/desktop-team

feat(desktop): use raw source for adjusted preview
  desktop/src/renderer/src/lib/previewWindow.ts
  desktop/src/renderer/src/pages/VideoPage.tsx
  desktop/src/renderer/src/tests/previewWindow.test.ts
Owners: @atropos/desktop-team

fix(desktop): initialize adjusted window before use
  desktop/src/renderer/src/pages/VideoPage.tsx
Owners: @atropos/desktop-team

fix(desktop): guard adjusted preview source resolution
  desktop/src/renderer/src/lib/media.ts
  desktop/src/renderer/src/pages/VideoPage.tsx
  desktop/src/renderer/src/tests/media.test.ts
Owners: @atropos/desktop-team

fix(desktop): ensure adjusted previews use local source video
  desktop/src/main/clipLibrary.ts
  desktop/src/main/index.ts
  desktop/src/main/sourceResolver.ts
  desktop/src/preload/index.d.ts
  desktop/src/preload/index.ts
  desktop/src/renderer/index.html
  desktop/src/renderer/src/lib/media.ts
  desktop/src/renderer/src/pages/VideoPage.tsx
  desktop/src/renderer/src/services/adjustedSource.ts
  desktop/src/renderer/src/tests/adjustedSourceResolver.test.ts
  desktop/src/renderer/src/tests/media.test.ts
  desktop/src/renderer/src/tests/previewWindow.test.ts
  desktop/src/types/adjusted-source.ts
Owners: @atropos/desktop-team

feat(desktop): ensure adjusted preview uses local source
  desktop/src/main/clipLibrary.ts
  desktop/src/main/index.ts
  desktop/src/preload/index.d.ts
  desktop/src/preload/index.ts
  desktop/src/renderer/index.html
  desktop/src/renderer/src/pages/VideoPage.tsx
  desktop/src/renderer/src/services/preview/adjustedPreview.test.ts
  desktop/src/renderer/src/services/preview/adjustedPreview.ts
  desktop/src/types/preview.ts
Owners: @atropos/desktop-team

fix(desktop): allow adjusted preview to stream local media
  desktop/src/main/index.ts
  desktop/src/renderer/src/pages/VideoPage.tsx
  desktop/src/renderer/src/services/preview/adjustedPreview.test.ts
  desktop/src/renderer/src/services/preview/adjustedPreview.ts
  desktop/src/types/preview.ts
Owners: @atropos/desktop-team
