Repository Noupin/atropos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @atropos/core-maintainers, @atropos/desktop-team, @atropos/server-team, @atropos/licensing-team, @atropos/infra-team, @atropos/devx-team

fix(adjusted-preview): allow local media playback
  desktop/src/main/clipLibrary.ts
  desktop/src/renderer/index.html
  desktop/src/renderer/src/pages/VideoPage.tsx
  desktop/src/renderer/src/services/preview/adjustedPreview.test.ts
  desktop/src/renderer/src/services/preview/adjustedPreview.ts
Owners: @atropos/desktop-team

fix(desktop): constrain adjusted preview scrubbing
  desktop/src/renderer/src/services/preview/adjustedPreview.test.ts
  desktop/src/renderer/src/services/preview/adjustedPreview.ts
Owners: @atropos/desktop-team

feat(desktop): load canonical source in adjusted preview
  desktop/src/renderer/src/pages/VideoPage.tsx
  desktop/src/renderer/src/services/preview/adjustedPreview.test.ts
  desktop/src/renderer/src/services/preview/adjustedPreview.ts
Owners: @atropos/desktop-team

updating cron
  .vscode/settings.json
  docker/cron
Owners: @atropos/core-maintainers

feat(desktop): virtualize adjusted preview playback
  desktop/src/renderer/src/pages/VideoPage.tsx
  desktop/src/renderer/src/services/preview/adjustedPreview.test.ts
  desktop/src/renderer/src/services/preview/adjustedPreview.ts
Owners: @atropos/desktop-team

fix(desktop): clamp adjusted preview playback
  desktop/src/renderer/src/pages/VideoPage.tsx
  desktop/src/renderer/src/services/preview/adjustedPreview.test.ts
  desktop/src/renderer/src/services/preview/adjustedPreview.ts
Owners: @atropos/desktop-team

test(desktop): ensure adjusted preview tests use jsdom
  desktop/src/main/clipLibrary.ts
  desktop/src/main/index.ts
  desktop/src/renderer/src/pages/VideoPage.tsx
  desktop/src/renderer/src/services/preview/adjustedPreview.test.ts
  desktop/src/renderer/src/services/preview/adjustedPreview.ts
  desktop/src/renderer/src/tests/resolveProjectSourceVideo.test.ts
Owners: @atropos/desktop-team

feat(desktop): enforce trimmed local preview playback
  desktop/package.json
  desktop/src/main/__tests__/trimmedPreview.test.ts
  desktop/src/main/index.ts
  desktop/src/main/trimmedPreview.ts
  desktop/src/main/vitest.config.ts
  desktop/src/preload/index.d.ts
  desktop/src/preload/index.ts
  desktop/src/renderer/src/pages/VideoPage.tsx
  desktop/src/renderer/src/services/preview/adjustedPreview.test.ts
  desktop/src/renderer/src/services/preview/adjustedPreview.ts
  desktop/src/renderer/src/tests/app.test.tsx
  desktop/src/renderer/src/tests/clipcard.test.tsx
  desktop/src/renderer/src/tests/profile.test.tsx
  desktop/src/types/preview.ts
Owners: @atropos/desktop-team

fix(desktop): rebuild adjusted preview on slider changes
  desktop/src/renderer/src/pages/VideoPage.tsx
Owners: @atropos/desktop-team

fix(desktop): resume playback after trim adjustments
  desktop/src/renderer/src/pages/VideoPage.tsx
Owners: @atropos/desktop-team

feat(pipeline): support general tone runs without accounts
  desktop/src/main/clipLibrary.ts
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/pages/Home.tsx
  desktop/src/renderer/src/state/usePipelineProgress.ts
  desktop/src/renderer/src/tests/home.offline.test.tsx
  desktop/src/renderer/src/tests/home.test.tsx
  desktop/src/renderer/src/types.ts
  server/common/output_dirs.py
  server/library.py
  server/pipeline.py
  server/schedule_upload.py
  server/video_inventory.py
  tests/test_library_api.py
Owners: @atropos/desktop-team, @atropos/server-team, @atropos/core-maintainers

feat(server): replace render layouts with json registry
  server/app.py
  server/auth/accounts.py
  server/config.py
  server/layouts/__init__.py
  server/layouts/built-in/centered.json
  server/layouts/built-in/centered_with_corners.json
  server/layouts/built-in/left_aligned.json
  server/layouts/built-in/no_zoom.json
  server/layouts/custom/.gitignore
  server/layouts/registry.py
  server/layouts/schema.py
  server/library.py
  server/pipeline.py
  server/steps/render.py
  server/steps/render_layouts/__init__.py
  server/steps/render_layouts/base.py
  server/steps/render_layouts/centered_with_corners.py
  server/steps/render_layouts/centered_zoom.py
  server/steps/render_layouts/left_aligned_zoom.py
  server/steps/render_layouts/no_zoom.py
  tests/conftest.py
  tests/test_render_fps.py
  tests/test_render_layouts.py
Owners: @atropos/server-team, @atropos/core-maintainers

fix(video-page): initialize layout updater before use
  desktop/src/renderer/src/pages/VideoPage.tsx
Owners: @atropos/desktop-team

feat(layout): redesign layout editor canvas
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
  desktop/src/renderer/src/components/layout/LayoutPreviewOverlay.tsx
  desktop/src/renderer/src/pages/VideoPage.tsx
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
Owners: @atropos/desktop-team

test(layout): cover cross-canvas pointer interactions
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
Owners: @atropos/desktop-team

updating pipeline
  server/pipeline.py
Owners: @atropos/server-team

fix(layout): align dual canvases and resolve source media
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
Owners: @atropos/desktop-team

fix(layout): sync canvases and trigger renders
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/components/layout/LayoutCompositionSurface.tsx
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
  desktop/src/renderer/src/pages/VideoPage.tsx
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
Owners: @atropos/desktop-team

fix(video): define step animation before render
  desktop/src/renderer/src/pages/VideoPage.tsx
Owners: @atropos/desktop-team

fix(layout): lock frame aspects and sync previews
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
  desktop/src/types/layouts.ts
Owners: @atropos/desktop-team

fix(layout): align crops with canvas aspect
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
Owners: @atropos/desktop-team

fix(layout): stabilize selection and preview sizing
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
  desktop/src/renderer/src/components/layout/layoutSelectionStore.ts
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
Owners: @atropos/desktop-team

fix(layout): restore source preview aspect and toolbar locks
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
  desktop/src/types/layouts.ts
Owners: @atropos/desktop-team

fix(layout): keep selection handles persistent
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
Owners: @atropos/desktop-team

fix(layout): stabilize selection styling
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
Owners: @atropos/desktop-team

fix(layout): persist selection toolbar across canvases
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
Owners: @atropos/desktop-team

fix(layout): persist selection across parent updates
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
Owners: @atropos/desktop-team

fix(layout-editor): stabilize single-item selection
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
  desktop/src/renderer/src/components/layout/layoutSelectionStore.ts
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
Owners: @atropos/desktop-team

fix(layout): harden canvas selection interactions
  desktop/package.json
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
Owners: @atropos/desktop-team

fix(desktop): keep layout frames selected after release
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
Owners: @atropos/desktop-team

fix(layout): rebuild canvas selection workflow
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
Owners: @atropos/desktop-team

feat(layout): reinforce canvas selection handling
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
Owners: @atropos/desktop-team

feat(desktop): rebuild layout canvas interactions
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
  desktop/src/renderer/src/components/layout/layoutSelectionStore.ts
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
Owners: @atropos/desktop-team

fix(desktop): preserve layout canvas selection state
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
Owners: @atropos/desktop-team

selection almost working
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
Owners: @atropos/desktop-team

fix(desktop): preserve layout selection after interactions
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
Owners: @atropos/desktop-team

fix(desktop): harden layout canvas selection
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
Owners: @atropos/desktop-team

fix(layout): guard selection during canvas pointer lifecycle
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
Owners: @atropos/desktop-team

fix(desktop): preserve layout selection after interactions
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
Owners: @atropos/desktop-team

fix(layout): rework drag selection tracking
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
Owners: @atropos/desktop-team

.github/CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Review is required from these owners when matching files change.

*                                   @atropos/core-maintainers
/docs/**                            @atropos/core-maintainers
CHANGELOG.md                        @atropos/core-maintainers

# Desktop client
/desktop/**                         @atropos/desktop-team

# Python services
/server/**                          @atropos/server-team

# Licensing worker
/services/licensing/**              @atropos/licensing-team

# Infrastructure & deployment
/infrastructure/**                  @atropos/infra-team

# GitHub metadata
.github/**                          @atropos/devx-team
