Repository Noupin/atropos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @atropos/core-maintainers, @atropos/desktop-team, @atropos/server-team, @atropos/licensing-team, @atropos/infra-team, @atropos/devx-team

fix(desktop): export last verified persistence helpers
  desktop/src/renderer/src/state/accessPersistence.ts
Owners: @atropos/desktop-team

feat(desktop): handle offline countdown access
  desktop/src/renderer/src/components/accessBadge.test.ts
  desktop/src/renderer/src/components/accessBadge.ts
  desktop/src/renderer/src/pages/Home.tsx
  desktop/src/renderer/src/pages/Profile.tsx
  desktop/src/renderer/src/state/access.tsx
  desktop/src/renderer/src/state/accessFormatting.ts
  desktop/src/renderer/src/state/accessTypes.ts
  desktop/src/renderer/src/tests/home.offline.test.tsx
Owners: @atropos/desktop-team

fix(desktop): defer library redirect when multiple clips
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/tests/app.test.tsx
Owners: @atropos/desktop-team

feat(licensing): add subscription transfer flow
  desktop/src/renderer/src/components/SubscriptionTransferPanel.tsx
  desktop/src/renderer/src/pages/Profile.tsx
  desktop/src/renderer/src/services/licensing.ts
  desktop/src/renderer/src/state/access.tsx
  desktop/src/renderer/src/state/accessTypes.ts
  services/licensing/README.md
  services/licensing/src/index.ts
  services/licensing/src/lib/kv.ts
  services/licensing/src/routes/subscription.ts
  services/licensing/src/routes/transfer.ts
  services/licensing/src/types.ts
Owners: @atropos/desktop-team, @atropos/licensing-team

updating pipeline and cron
  docker/cron
  server/pipeline.py
Owners: @atropos/core-maintainers, @atropos/server-team

fix(transfer): improve email formatting and device handoff
  desktop/src/renderer/src/components/SubscriptionTransferPanel.tsx
  services/licensing/src/routes/transfer.ts
Owners: @atropos/desktop-team, @atropos/licensing-team

fix(transfer): improve activation flow and deeplinks
  desktop/src/main/index.ts
  desktop/src/renderer/src/components/SubscriptionTransferPanel.tsx
  desktop/src/renderer/src/pages/Profile.tsx
  desktop/src/renderer/src/services/licensing.ts
  services/licensing/README.md
  services/licensing/src/index.ts
  services/licensing/src/routes/transfer.ts
Owners: @atropos/desktop-team, @atropos/licensing-team

fix(desktop): reuse single instance for deeplinks
  desktop/electron-builder.yml
  desktop/src/main/index.ts
  desktop/src/preload/index.ts
Owners: @atropos/desktop-team

fix(desktop): route mac deep links to existing window
  desktop/electron-builder.yml
  desktop/src/main/index.ts
Owners: @atropos/desktop-team

fix(desktop): harden mac deep link routing
  desktop/electron-builder.yml
  desktop/src/main/index.ts
Owners: @atropos/desktop-team

fixing build stuff
  desktop/electron-builder.yml
  desktop/electron.vite.config.ts
  desktop/package.json
  desktop/src/main/index.ts
  desktop/src/preload/index.ts
  desktop/src/renderer/index.html
  desktop/src/renderer/src/assets/main.css
  desktop/src/renderer/src/assets/wavy-lines.svg
  desktop/src/renderer/src/components/PipelineProgress.tsx
  desktop/src/renderer/src/components/Versions.tsx
  desktop/src/renderer/src/electron.d.ts
  desktop/src/renderer/src/pages/Home.tsx
  desktop/src/renderer/src/pages/Settings.tsx
  desktop/src/renderer/src/services/pipelineApi.ts
  desktop/src/renderer/src/state/usePipelineProgress.ts
  desktop/src/renderer/src/tests/clipdrawer.test.tsx
  desktop/src/renderer/src/tests/home.offline.test.tsx
  desktop/src/renderer/src/tests/home.test.tsx
  desktop/src/types/electron.ts
Owners: @atropos/desktop-team

updating readme
  desktop/README.md
Owners: @atropos/desktop-team

fixed icons
  desktop/build/icon.icns
  desktop/build/icon.ico
  desktop/build/icon.png
  desktop/electron-builder.yml
  desktop/favicon.png
  desktop/src/main/index.ts
Owners: @atropos/desktop-team

icon instructions
  desktop/README.md
Owners: @atropos/desktop-team

feat(library): paginate clip listings and persist view state
  desktop/src/main/clipLibrary.ts
  desktop/src/main/index.ts
  desktop/src/preload/index.d.ts
  desktop/src/preload/index.ts
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/components/ClipCard.tsx
  desktop/src/renderer/src/components/MarbleSpinner.tsx
  desktop/src/renderer/src/index.css
  desktop/src/renderer/src/pages/Library.tsx
  desktop/src/renderer/src/services/clipLibrary.ts
  desktop/src/renderer/src/state/viewStatePersistence.ts
  desktop/src/renderer/src/types.ts
  server/app.py
  server/library.py
  tests/test_library_api.py
Owners: @atropos/desktop-team, @atropos/server-team, @atropos/core-maintainers

fix(desktop): initialise library loading flag
  desktop/src/renderer/src/pages/Library.tsx
Owners: @atropos/desktop-team

fix(library): restore thumbnails and inline search
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/main.tsx
  desktop/src/renderer/src/pages/Library.tsx
  desktop/src/renderer/src/tests/app.test.tsx
  server/app.py
  server/library.py
  tests/test_library_api.py
Owners: @atropos/desktop-team, @atropos/server-team, @atropos/core-maintainers

updating pipeline
  server/pipeline.py
Owners: @atropos/server-team

feat(desktop): finalize library pagination controls
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/components/ClipCard.tsx
  desktop/src/renderer/src/components/MarbleSpinner.tsx
  desktop/src/renderer/src/config/backend.ts
  desktop/src/renderer/src/index.css
  desktop/src/renderer/src/main.tsx
  desktop/src/renderer/src/pages/Clip.tsx
  desktop/src/renderer/src/pages/ClipEdit.tsx
  desktop/src/renderer/src/pages/Home.tsx
  desktop/src/renderer/src/pages/Library.tsx
  desktop/src/renderer/src/pages/Profile.tsx
  desktop/src/renderer/src/pages/Settings.tsx
  desktop/src/renderer/src/services/clipLibrary.ts
  desktop/src/renderer/src/state/uiState.tsx
  desktop/src/renderer/src/tests/home.offline.test.tsx
  desktop/src/renderer/src/tests/home.test.tsx
  desktop/src/renderer/src/tests/profile.test.tsx
  server/README.md
  server/app.py
  server/interfaces/clips.py
  server/library.py
  tests/test_library_api.py
Owners: @atropos/desktop-team, @atropos/server-team, @atropos/core-maintainers

fix(clips): restore grouped library with thumbnails
  desktop/src/renderer/src/pages/Library.tsx
  desktop/src/renderer/src/services/clipLibrary.ts
  server/app.py
  server/interfaces/clips.py
  server/library.py
  tests/test_library_api.py
Owners: @atropos/desktop-team, @atropos/server-team, @atropos/core-maintainers

fix(library): collapse projects by default
  desktop/src/renderer/src/config/backend.ts
  desktop/src/renderer/src/pages/Library.tsx
  desktop/src/renderer/src/services/clipLibrary.ts
  desktop/src/renderer/src/state/uiState.tsx
Owners: @atropos/desktop-team

fix(library): allow thumbnails and stabilise ui state
  desktop/src/renderer/index.html
  desktop/src/renderer/src/main.tsx
  desktop/src/renderer/src/pages/Library.tsx
  desktop/src/renderer/src/state/uiState.tsx
Owners: @atropos/desktop-team

fix(renderer): cache-bust library clip playback
  desktop/src/renderer/src/lib/video.ts
  desktop/src/renderer/src/pages/ClipEdit.tsx
  desktop/src/renderer/src/pages/Library.tsx
  desktop/src/renderer/src/tests/videoUtils.test.ts
Owners: @atropos/desktop-team

fix(server): derive previews from rendered shorts
  server/app.py
  tests/test_library_api.py
Owners: @atropos/server-team, @atropos/core-maintainers

fix(desktop): clarify access error messaging
  desktop/AGENTS.md
  desktop/src/renderer/src/state/access.tsx
Owners: @atropos/desktop-team

feat(desktop): add video workspace experience
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/pages/Clip.tsx
  desktop/src/renderer/src/pages/Library.tsx
  desktop/src/renderer/src/pages/VideoWorkspace.tsx
Owners: @atropos/desktop-team

fix(access): allow non-home routes when restricted
  desktop/src/renderer/src/App.tsx
Owners: @atropos/desktop-team

fix(desktop): lock home route for restricted access
  desktop/src/renderer/src/App.tsx
Owners: @atropos/desktop-team

fix(desktop): resolve resumePipeline reference error
  desktop/src/renderer/src/App.tsx
Owners: @atropos/desktop-team

fix(desktop): streamline video workspace layout
  desktop/src/renderer/src/components/VideoPreviewStage.tsx
  desktop/src/renderer/src/pages/ClipEdit.tsx
  desktop/src/renderer/src/pages/VideoWorkspace.tsx
Owners: @atropos/desktop-team

fix(ui): relabel and reposition video tab
  desktop/src/renderer/src/App.tsx
Owners: @atropos/desktop-team

fix(desktop): attach contextual tabs to library nav
  desktop/src/renderer/src/App.tsx
Owners: @atropos/desktop-team

fix(desktop): align library contextual tabs styling
  desktop/src/renderer/src/App.tsx
Owners: @atropos/desktop-team

fix(desktop): restyle library video attachment
  desktop/src/renderer/src/App.tsx
Owners: @atropos/desktop-team

fix(desktop): flatten library attachment seams
  desktop/src/renderer/src/App.tsx
Owners: @atropos/desktop-team

feat(desktop): focus video workspace on metadata
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/pages/VideoWorkspace.tsx
Owners: @atropos/desktop-team

fix(desktop): darken video workspace edit button
  desktop/src/renderer/src/pages/VideoWorkspace.tsx
Owners: @atropos/desktop-team

fix(desktop): restyle metadata editor shortcut
  desktop/src/renderer/src/pages/VideoWorkspace.tsx
Owners: @atropos/desktop-team

fix(desktop): align workspace navigation controls
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/pages/ClipEdit.tsx
  desktop/src/renderer/src/pages/VideoWorkspace.tsx
Owners: @atropos/desktop-team

test(server): add project file generation coverage
  desktop/src/main/index.ts
  desktop/src/preload/index.ts
  desktop/src/renderer/src/electron.d.ts
  desktop/src/renderer/src/pages/Home.tsx
  desktop/src/renderer/src/services/clipLibrary.ts
  desktop/src/renderer/src/services/exporter.ts
  desktop/src/renderer/src/services/pipelineApi.ts
  desktop/src/renderer/src/state/usePipelineProgress.ts
  desktop/src/renderer/src/tests/clipNormalisers.test.ts
  desktop/src/renderer/src/types.ts
  desktop/src/types/bridge.ts
  server/app.py
  server/helpers/project_files.py
  server/library.py
  server/pipeline.py
  tests/test_api.py
  tests/test_project_files_helper.py
Owners: @atropos/desktop-team, @atropos/server-team, @atropos/core-maintainers

.github/CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Review is required from these owners when matching files change.

*                                   @atropos/core-maintainers
/docs/**                            @atropos/core-maintainers
CHANGELOG.md                        @atropos/core-maintainers

# Desktop client
/desktop/**                         @atropos/desktop-team

# Python services
/server/**                          @atropos/server-team

# Licensing worker
/services/licensing/**              @atropos/licensing-team

# Infrastructure & deployment
/infrastructure/**                  @atropos/infra-team

# GitHub metadata
.github/**                          @atropos/devx-team
