Repository Noupin/atropos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @atropos/core-maintainers, @atropos/desktop-team, @atropos/server-team, @atropos/licensing-team, @atropos/infra-team, @atropos/devx-team

fix(desktop): keep layout selection after interactions
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
Owners: @atropos/desktop-team

fix(desktop): preserve selection after pointer release
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
Owners: @atropos/desktop-team

fix(desktop): persist layout canvas selection after drag
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
Owners: @atropos/desktop-team

fix(desktop): persist layout selection after interactions
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
Owners: @atropos/desktop-team

fix(desktop): harden layout selection persistence
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
Owners: @atropos/desktop-team

fix(desktop): keep frame selected after drag
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
Owners: @atropos/desktop-team

fix(desktop): stabilize selection after drag end
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
Owners: @atropos/desktop-team

fix(layout): stabilize frame toolbar interactions
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/components/layout/LayoutItemToolbar.tsx
Owners: @atropos/desktop-team

fix(layout): stabilize aspect locking across modes
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
  desktop/src/renderer/src/components/layout/LayoutItemToolbar.tsx
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
  desktop/src/types/layouts.ts
Owners: @atropos/desktop-team

fix(layout-editor): align aspect lock UI and frame reset
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
Owners: @atropos/desktop-team

fix(layout): align aspect locks with source crop bounds
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
  desktop/src/types/layouts.ts
Owners: @atropos/desktop-team

fix(layout): correct lock icons and aspect resets
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
Owners: @atropos/desktop-team

fix(layout): split source and layout aspect resets
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
Owners: @atropos/desktop-team

fix(desktop-layout): align aspect resets with source frame
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
Owners: @atropos/desktop-team

fix(layout): square preview canvases
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
Owners: @atropos/desktop-team

fix(layout): stabilise source crop aspect after reset
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
Owners: @atropos/desktop-team

fix(layout): preserve frame width when resetting aspect
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
Owners: @atropos/desktop-team

fix(layout): normalise crop aspect locks
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
Owners: @atropos/desktop-team

chore(layout): remove aspect ratio locking controls
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
Owners: @atropos/desktop-team

feat(layout): add auto crop stretch controls
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/components/layout/LayoutCompositionSurface.tsx
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
Owners: @atropos/desktop-team

fix(layout): clamp crop overlay to frame
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/components/layout/LayoutItemToolbar.tsx
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
Owners: @atropos/desktop-team

fix(layout): defer crop edits until confirmation
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
Owners: @atropos/desktop-team

fix(desktop): correct source crop overlay bounds
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
Owners: @atropos/desktop-team

fix(desktop): hide redundant crop overlay frame
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
Owners: @atropos/desktop-team

fix(desktop): remove source crop overlay frame
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
Owners: @atropos/desktop-team

feat(desktop): remove source preview crop overlay
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
Owners: @atropos/desktop-team

pipeline changes
  .vscode/settings.json
  server/pipeline.py
Owners: @atropos/core-maintainers, @atropos/server-team

feat(layout): balance frame aspect snapping with source headroom
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
Owners: @atropos/desktop-team

fix(desktop): sync layout frame aspect with active crop
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
Owners: @atropos/desktop-team

fix(desktop): normalise aspect snapping for layout frames
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
Owners: @atropos/desktop-team

feat(desktop): add aspect lock toggle for trim bounds
  desktop/src/renderer/src/pages/VideoPage.tsx
Owners: @atropos/desktop-team

fix(desktop): restore layout controls on video page
  desktop/src/renderer/src/pages/VideoPage.tsx
Owners: @atropos/desktop-team

feat(layout): support aspect lock toggles on layout canvas
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
Owners: @atropos/desktop-team

feat(layout): add aspect ratio lock toggle for source preview
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
Owners: @atropos/desktop-team

fix(layout): add aspect ratio callbacks to enable lock functionality
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
Owners: @atropos/desktop-team

fix(layout): prevent context menu from closing when clicking within it
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
Owners: @atropos/desktop-team

updating pipeline
  server/pipeline.py
Owners: @atropos/server-team

feat(desktop): add aspect ratio lock toggle to video layout editor
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
Owners: @atropos/desktop-team

debug: add console logging for aspect lock toggle
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
Owners: @atropos/desktop-team

feat(desktop): add aspect ratio lock toggle to layout editor
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
Owners: @atropos/desktop-team

.github/CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Review is required from these owners when matching files change.

*                                   @atropos/core-maintainers
/docs/**                            @atropos/core-maintainers
CHANGELOG.md                        @atropos/core-maintainers

# Desktop client
/desktop/**                         @atropos/desktop-team

# Python services
/server/**                          @atropos/server-team

# Licensing worker
/services/licensing/**              @atropos/licensing-team

# Infrastructure & deployment
/infrastructure/**                  @atropos/infra-team

# GitHub metadata
.github/**                          @atropos/devx-team
