Repository Noupin/atropos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @atropos/core-maintainers, @atropos/desktop-team, @atropos/server-team, @atropos/licensing-team, @atropos/infra-team, @atropos/devx-team

.github/CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Review is required from these owners when matching files change.

*                                   @atropos/core-maintainers
/docs/**                            @atropos/core-maintainers
CHANGELOG.md                        @atropos/core-maintainers

# Desktop client
/desktop/**                         @atropos/desktop-team

# Python services
/server/**                          @atropos/server-team

# Licensing worker
/services/licensing/**              @atropos/licensing-team

# Infrastructure & deployment
/infrastructure/**                  @atropos/infra-team

# GitHub metadata
.github/**                          @atropos/devx-team

fix(desktop): allow licensing worker in csp
  desktop/src/renderer/index.html
Owners: @atropos/desktop-team

fix(desktop): proxy licensing calls through main process
  desktop/src/common/access/schema.ts
  desktop/src/main/access.ts
  desktop/src/main/config/licensing.ts
  desktop/src/main/index.ts
  desktop/src/preload/index.d.ts
  desktop/src/preload/index.ts
  desktop/src/renderer/src/providers/AccessProvider.tsx
  desktop/src/renderer/src/services/accessApi.ts
Owners: @atropos/desktop-team

fix(desktop): send licensing requests via chromium stack
  desktop/src/main/access.ts
Owners: @atropos/desktop-team

fix(desktop): enable tls fallback for licensing
  desktop/src/main/index.ts
  desktop/src/main/security.ts
Owners: @atropos/desktop-team

fix(desktop): handle dev ssl handshakes
  desktop/src/main/access.ts
  desktop/src/main/config/licensing.ts
  desktop/src/main/index.ts
  desktop/src/renderer/index.html
  desktop/src/renderer/src/config/licensing.ts
Owners: @atropos/desktop-team

add account number
  .vscode/settings.json
  services/licensing/wrangler.toml
Owners: @atropos/core-maintainers, @atropos/licensing-team

feat(trial): add worker routes and desktop trial gating
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/components/TrialBadge.tsx
  desktop/src/renderer/src/config/licensing.ts
  desktop/src/renderer/src/env.d.ts
  desktop/src/renderer/src/main.tsx
  desktop/src/renderer/src/pages/Profile.tsx
  desktop/src/renderer/src/services/device.ts
  desktop/src/renderer/src/services/licensing.ts
  desktop/src/renderer/src/state/trialAccess.tsx
  services/licensing/README.md
  services/licensing/src/index.ts
  services/licensing/src/lib/http.ts
  services/licensing/src/lib/kv.ts
  services/licensing/src/routes/transfer.ts
  services/licensing/src/routes/trial.ts
  services/licensing/src/types.ts
Owners: @atropos/desktop-team, @atropos/licensing-team

feat(desktop): consume trial run on pipeline start
  desktop/src/renderer/index.html
  desktop/src/renderer/src/pages/Home.tsx
Owners: @atropos/desktop-team

fix(desktop): allow library access without trial
  desktop/src/renderer/src/App.tsx
Owners: @atropos/desktop-team

fix(desktop): remove manual trial consumption
  desktop/src/renderer/src/pages/Profile.tsx
Owners: @atropos/desktop-team

feat(pipeline): refine progress tracking
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/pages/Home.tsx
  desktop/src/renderer/src/state/usePipelineProgress.ts
  desktop/src/renderer/src/tests/home.test.tsx
  server/common/thread_pool.py
  server/pipeline.py
  server/steps/dialog.py
  server/steps/segment.py
Owners: @atropos/desktop-team, @atropos/server-team

feat(progress): surface pipeline status globally
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/components/PipelineProgress.tsx
  desktop/src/renderer/src/lib/pipelineProgress.ts
  server/pipeline.py
Owners: @atropos/desktop-team, @atropos/server-team

feat(desktop): finalise trial runs at pipeline completion
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/components/TrialBadge.tsx
  desktop/src/renderer/src/pages/Home.tsx
  desktop/src/renderer/src/pages/Profile.tsx
  desktop/src/renderer/src/state/trialAccess.tsx
  desktop/src/renderer/src/state/usePipelineProgress.ts
Owners: @atropos/desktop-team

fix(desktop): recover pending trial runs on relaunch
  desktop/src/renderer/src/state/trialAccess.tsx
Owners: @atropos/desktop-team

fix(trials): finalize runs after pipeline completion
  desktop/src/renderer/src/state/usePipelineProgress.ts
Owners: @atropos/desktop-team

feat(desktop): finalize trial on first clip and show loader
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/pages/Library.tsx
  desktop/src/renderer/src/state/usePipelineProgress.ts
Owners: @atropos/desktop-team

fix(desktop): defer home state change propagation
  desktop/src/renderer/src/pages/Home.tsx
Owners: @atropos/desktop-team

feat(home): highlight empty pipeline results
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/pages/Home.tsx
  desktop/src/renderer/src/state/usePipelineProgress.ts
  desktop/src/renderer/src/tests/home.test.tsx
  desktop/src/renderer/src/types.ts
Owners: @atropos/desktop-team

fix(desktop): guard pipeline completion redirect
  desktop/src/renderer/src/App.tsx
Owners: @atropos/desktop-team

fix(desktop): prevent library redirect without clips
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/state/usePipelineProgress.ts
Owners: @atropos/desktop-team

feat: surface no-clip pipeline outcome
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/pages/Home.tsx
  desktop/src/renderer/src/state/usePipelineProgress.ts
  desktop/src/renderer/src/tests/home.test.tsx
  desktop/src/renderer/src/types.ts
  server/app.py
  server/pipeline.py
Owners: @atropos/desktop-team, @atropos/server-team

fix: retain home link and sync min rating
  desktop/src/renderer/src/pages/Home.tsx
  desktop/src/renderer/src/tests/home.test.tsx
  server/steps/candidates/tone.py
Owners: @atropos/desktop-team, @atropos/server-team

feat(pipeline): add kill control with cleanup
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/pages/Home.tsx
  desktop/src/renderer/src/services/pipelineApi.ts
  desktop/src/renderer/src/state/usePipelineProgress.ts
  desktop/src/renderer/src/tests/home.test.tsx
  server/app.py
  tests/test_api.py
Owners: @atropos/desktop-team, @atropos/server-team, @atropos/core-maintainers

feat(licensing): finalize stripe subscription integration
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/components/TrialBadge.tsx
  desktop/src/renderer/src/pages/Home.tsx
  desktop/src/renderer/src/pages/Profile.tsx
  desktop/src/renderer/src/services/licensing.ts
  desktop/src/renderer/src/state/trialAccess.tsx
  desktop/src/renderer/src/state/usePipelineProgress.ts
  docs/ARCHITECTURE.md
  services/licensing/README.md
  services/licensing/package-lock.json
  services/licensing/package.json
  services/licensing/src/index.ts
  services/licensing/src/lib/access.ts
  services/licensing/src/lib/kv.ts
  services/licensing/src/lib/stripe.ts
  services/licensing/src/lib/validation.ts
  services/licensing/src/routes/subscription.ts
  services/licensing/src/routes/trial.ts
  services/licensing/src/routes/webhooks/stripe.ts
  services/licensing/src/types.ts
Owners: @atropos/desktop-team, @atropos/core-maintainers, @atropos/licensing-team

fix(desktop): toggle subscription call-to-action
  desktop/src/renderer/src/pages/Profile.tsx
Owners: @atropos/desktop-team

chore(licensing): use deeplink stripe redirects
  docs/ARCHITECTURE.md
  services/licensing/README.md
  services/licensing/wrangler.toml
Owners: @atropos/core-maintainers, @atropos/licensing-team

fix(desktop): route subscription deeplinks to profile
  desktop/src/main/index.ts
  desktop/src/preload/index.d.ts
  desktop/src/preload/index.ts
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/pages/Profile.tsx
  services/licensing/src/index.ts
Owners: @atropos/desktop-team, @atropos/licensing-team

fix(licensing): document stripe webhook endpoints
  docs/ARCHITECTURE.md
  services/licensing/README.md
  services/licensing/src/routes/webhooks/stripe.ts
Owners: @atropos/core-maintainers, @atropos/licensing-team

feat(subscription): integrate stripe subscriptions
  desktop/src/main/clipLibrary.ts
  desktop/src/main/index.ts
  desktop/src/preload/index.d.ts
  desktop/src/preload/index.ts
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/components/TrialBadge.tsx
  desktop/src/renderer/src/main.tsx
  desktop/src/renderer/src/pages/Home.tsx
  desktop/src/renderer/src/pages/Profile.tsx
  desktop/src/renderer/src/services/licensing.ts
  desktop/src/renderer/src/state/access.tsx
  desktop/src/renderer/src/state/accessPersistence.ts
  desktop/src/renderer/src/state/accessTypes.ts
  desktop/src/types/tailwindcss-vite.d.ts
  desktop/tsconfig.node.json
  docs/ARCHITECTURE.md
  services/licensing/README.md
  services/licensing/src/index.ts
  services/licensing/src/lib/kv.ts
  services/licensing/src/lib/log.ts
  services/licensing/src/lib/request.ts
  services/licensing/src/lib/stripe.ts
  services/licensing/src/routes/subscription.ts
  services/licensing/src/routes/trial.ts
  services/licensing/src/routes/webhooks.ts
  services/licensing/src/types.ts
  services/licensing/wrangler.toml
Owners: @atropos/desktop-team, @atropos/core-maintainers, @atropos/licensing-team

fix(subscription): harden webhooks and desktop gating
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/components/TrialBadge.tsx
  services/licensing/README.md
  services/licensing/src/index.ts
  services/licensing/src/routes/webhooks.ts
  services/licensing/src/types.ts
Owners: @atropos/desktop-team, @atropos/licensing-team

fix(desktop): hide trial details for active subscribers
  desktop/src/renderer/src/components/TrialBadge.tsx
  desktop/src/renderer/src/pages/Profile.tsx
Owners: @atropos/desktop-team

feat(desktop): unify badge styling
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/components/TrialBadge.tsx
  desktop/src/renderer/src/components/badgeStyles.ts
Owners: @atropos/desktop-team

feat(desktop): unify access badge styling
  desktop/src/renderer/src/components/TrialBadge.tsx
  desktop/src/renderer/src/components/accessBadge.ts
  desktop/src/renderer/src/components/badgeStyles.ts
  desktop/src/renderer/src/index.css
  desktop/src/renderer/src/pages/Clip.tsx
  desktop/src/renderer/src/pages/Profile.tsx
Owners: @atropos/desktop-team

fix(desktop): align access badge metrics
  desktop/src/renderer/src/components/badgeStyles.ts
Owners: @atropos/desktop-team

fix(desktop): normalise trial badge typography
  desktop/src/renderer/src/components/TrialBadge.tsx
Owners: @atropos/desktop-team

fix(desktop): align access badge typography
  desktop/src/renderer/src/components/TrialBadge.tsx
Owners: @atropos/desktop-team

fix(desktop): align access badge element with health pill
  desktop/src/renderer/src/components/TrialBadge.tsx
Owners: @atropos/desktop-team

fix(desktop): allow library access in restricted state
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/pages/Profile.tsx
Owners: @atropos/desktop-team

fix(desktop): adjust trial badge theme contrast
  desktop/src/renderer/src/components/badgeStyles.ts
Owners: @atropos/desktop-team

fix(renderer): stabilise access offline refresh
  desktop/src/renderer/src/state/access.tsx
  desktop/src/renderer/src/tests/home.test.tsx
Owners: @atropos/desktop-team
