Repository Noupin/atropos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @atropos/core-maintainers, @atropos/desktop-team, @atropos/server-team, @atropos/licensing-team, @atropos/infra-team, @atropos/devx-team

.github/CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Review is required from these owners when matching files change.

*                                   @atropos/core-maintainers
/docs/**                            @atropos/core-maintainers
CHANGELOG.md                        @atropos/core-maintainers

# Desktop client
/desktop/**                         @atropos/desktop-team

# Python services
/server/**                          @atropos/server-team

# Licensing worker
/services/licensing/**              @atropos/licensing-team

# Infrastructure & deployment
/infrastructure/**                  @atropos/infra-team

# GitHub metadata
.github/**                          @atropos/devx-team

refactor: improve conditional rendering syntax for aspect lock toggle
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
Owners: @atropos/desktop-team

fix: enable context menu to show when only aspect lock handler is provided
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
Owners: @atropos/desktop-team

refactor: split video page into separate view components and extract metadata page
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/components/video/VideoMetadataView.tsx
  desktop/src/renderer/src/components/video/VideoUploadView.tsx
  desktop/src/renderer/src/constants/videoPageDefaults.ts
  desktop/src/renderer/src/pages/VideoMetadataPage.tsx
  desktop/src/renderer/src/pages/VideoPage.tsx
Owners: @atropos/desktop-team

refactor(video): split video page modes
  desktop/src/renderer/src/pages/VideoPage.tsx
  desktop/src/renderer/src/pages/video/LayoutModeView.tsx
  desktop/src/renderer/src/pages/video/MetadataModeView.tsx
  desktop/src/renderer/src/pages/video/TrimModeView.tsx
  desktop/src/renderer/src/pages/video/UploadModeView.tsx
  desktop/src/renderer/src/pages/video/saveSteps.ts
Owners: @atropos/desktop-team

feat(layout): add crop aspect lock controls
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
Owners: @atropos/desktop-team

fix(desktop): refresh aspect lock toolbar state
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
Owners: @atropos/desktop-team

feat: add aspect ratio lock toggle to context menu
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
Owners: @atropos/desktop-team

adding marketing website
  .gitignore
  api/Dockerfile
  api/app.py
  web/favicon.png
  web/index.html
  web/privacy.html
  web/terms.html
Owners: @atropos/core-maintainers

fix(layout-editor): finalize aspect lock workflows
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
Owners: @atropos/desktop-team

refactor(web): separate CSS and JS into dedicated files
  web/css/styles.css
  web/index.html
  web/js/main.js
Owners: @atropos/core-maintainers

updated structure
  web/css/styles.css
  web/index.html
  web/js/main.js
Owners: @atropos/core-maintainers

feat: add aspect ratio lock toggle to video layout context menu
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
Owners: @atropos/desktop-team

fixed spelling
  web/index.html
Owners: @atropos/core-maintainers

feat(layout): implement aspect ratio lock and crop behavior
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
Owners: @atropos/desktop-team

feat: implement aspect ratio lock toggle for Source Preview
  desktop/src/renderer/src/components/layout/LayoutCanvas.tsx
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
Owners: @atropos/desktop-team

updating pipeline
  server/pipeline.py
Owners: @atropos/server-team

fix(desktop): preserve crop state for aspect locks
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
Owners: @atropos/desktop-team

feat(web): add sticky signup nav experience
  web/css/styles.css
  web/index.html
  web/js/main.js
Owners: @atropos/core-maintainers

fix(web): allow sticky signup to dock after scroll
  web/css/styles.css
  web/index.html
Owners: @atropos/core-maintainers

feat(web): spread landing layout with flex
  web/css/styles.css
  web/index.html
Owners: @atropos/core-maintainers

style(web): keep signup cta on one line
  web/css/styles.css
Owners: @atropos/core-maintainers

feat(web): refresh hero with rotating messaging
  .gitignore
  README.md
  web/css/styles.css
  web/index.html
  web/js/main.js
  web/js/social.config.example.js
Owners: @atropos/core-maintainers

fix(web): refine hero flip animation
  web/css/styles.css
  web/index.html
  web/js/main.js
Owners: @atropos/core-maintainers

fix(web): simplify hero phrase animation
  web/css/styles.css
  web/index.html
  web/js/main.js
Owners: @atropos/core-maintainers

fix(web): align hero rotator with heading
  web/css/styles.css
  web/index.html
Owners: @atropos/core-maintainers

fix(web): align hero headline and rotator
  web/css/styles.css
  web/index.html
Owners: @atropos/core-maintainers

fix(web): prevent hero rotator clipping
  web/css/styles.css
Owners: @atropos/core-maintainers

fix(web): steady hero rotator flow
  web/css/styles.css
  web/js/main.js
Owners: @atropos/core-maintainers

fix(web): harmonize hero rotator text colors
  web/css/styles.css
Owners: @atropos/core-maintainers

fix(web): neutralize hero rotator fade
  web/css/styles.css
Owners: @atropos/core-maintainers

fix(web): restore hero rotator lift
  web/css/styles.css
Owners: @atropos/core-maintainers

fix(web): set hero rotator text to black
  web/css/styles.css
Owners: @atropos/core-maintainers

fix(web): lock hero rotator color
  web/css/styles.css
Owners: @atropos/core-maintainers

fix(web): keep hero rotator text consistent
  web/css/styles.css
Owners: @atropos/core-maintainers

feat(web): expand social metrics coverage
  web/index.html
  web/js/main.js
  web/js/social.config.example.js
Owners: @atropos/core-maintainers

fix(web): align hero signup with intro copy
  web/css/styles.css
  web/index.html
Owners: @atropos/core-maintainers

fix(web): restore hero flex behavior
  web/css/styles.css
  web/index.html
Owners: @atropos/core-maintainers

fix(web): restore hero rotator accessibility
  web/index.html
  web/js/main.js
Owners: @atropos/core-maintainers

fix(web): stabilize hero rotator and sticky signup
  web/css/styles.css
  web/js/main.js
Owners: @atropos/core-maintainers

feat(web): expand hero metrics and signup layout
  web/css/styles.css
  web/index.html
  web/js/main.js
  web/js/social.config.example.js
Owners: @atropos/core-maintainers
