Repository Noupin/atropos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @atropos/core-maintainers, @atropos/desktop-team, @atropos/server-team, @atropos/licensing-team, @atropos/infra-team, @atropos/devx-team

fix(server): credit source video in descriptions
  server/app.py
  server/pipeline.py
Owners: @atropos/server-team

fix(render): align captions with speech
  server/steps/render.py
Owners: @atropos/server-team

updated prompts to reflesh the
  server/steps/candidates/prompts.py
Owners: @atropos/server-team

removing hosts
  desktop/src/renderer/index.html
  desktop/src/renderer/src/config/backend.ts
Owners: @atropos/desktop-team

fixing text color on duration
  desktop/src/renderer/src/components/ClipCard.tsx
Owners: @atropos/desktop-team

docs(architecture): note separate cloudflare worker stacks
  docs/ARCHITECTURE.md
Owners: @atropos/core-maintainers

infra(terraform): add licensing worker stacks
  infrastructure/main.tf
Owners: @atropos/infra-team

toml, index and fixing main.tf
  infrastructure/main.tf
  services/licensing/src/index.ts
  services/licensing/wrangler.toml
Owners: @atropos/infra-team, @atropos/licensing-team

feat(licensing): add kv helpers for user records
  services/licensing/src/kv.ts
Owners: @atropos/licensing-team

feat(licensing): add subscription endpoint
  services/licensing/src/billing.ts
  services/licensing/src/index.ts
  services/licensing/src/kv.ts
Owners: @atropos/licensing-team

feat(licensing): add checkout and portal billing routes
  services/licensing/src/billing/checkout.ts
  services/licensing/src/billing/client.ts
  services/licensing/src/billing/portal.ts
  services/licensing/src/billing/types.ts
  services/licensing/src/index.ts
Owners: @atropos/licensing-team

feat(licensing): add billing checkout and portal endpoints
  services/licensing/src/billing/checkout.ts
  services/licensing/src/billing/client.ts
  services/licensing/src/billing/portal.ts
  services/licensing/src/billing/types.ts
  services/licensing/src/index.ts
Owners: @atropos/licensing-team

feat(licensing): add billing webhook handler
  services/licensing/src/billing/webhook.ts
  services/licensing/src/index.ts
  services/licensing/src/kv/user.ts
Owners: @atropos/licensing-team

feat(licensing): add license issuance endpoints
  services/licensing/src/index.ts
  services/licensing/src/lib/jwt.ts
  services/licensing/src/license/issue.ts
  services/licensing/src/license/keys.ts
  services/licensing/src/license/validate.ts
Owners: @atropos/licensing-team

feat(trial): add trial lifecycle endpoints
  services/licensing/src/billing/webhook.ts
  services/licensing/src/index.ts
  services/licensing/src/trial/claim.ts
  services/licensing/src/trial/consume.ts
  services/licensing/src/trial/start.ts
  services/licensing/src/trial/token.ts
Owners: @atropos/licensing-team

feat(licensing): add centralized cors handling
  docs/ARCHITECTURE.md
  services/licensing/README.md
  services/licensing/src/http/cors.ts
  services/licensing/src/http/router.ts
  services/licensing/src/index.ts
Owners: @atropos/core-maintainers, @atropos/licensing-team

feat(licensing): add license transfer workflow
  docs/ARCHITECTURE.md
  services/licensing/README.md
  services/licensing/src/email/sender.ts
  services/licensing/src/email/templates.ts
  services/licensing/src/index.ts
  services/licensing/src/transfer/accept.ts
  services/licensing/src/transfer/common.ts
  services/licensing/src/transfer/complete.ts
  services/licensing/src/transfer/initiate.ts
Owners: @atropos/core-maintainers, @atropos/licensing-team

feat(desktop): add licensing access store and deep links
  desktop/src/lib/accessStore.ts
  desktop/src/lib/apiClient.ts
  desktop/src/main/deeplink.ts
  desktop/src/main/index.ts
Owners: @atropos/desktop-team

feat(server): add worker token middleware
  server/app.py
  server/common/security/__init__.py
  server/common/security/jwt.py
  server/middleware/__init__.py
  server/middleware/worker_token.py
  tests/test_api.py
Owners: @atropos/server-team, @atropos/core-maintainers

feat(access): enforce worker-licensed desktop pipeline
  desktop/src/lib/accessStore.ts
  desktop/src/renderer/src/services/http.ts
  desktop/src/renderer/src/services/pipelineApi.ts
  desktop/src/renderer/src/tests/pipelineapi.test.ts
  server/README.md
  server/middleware/worker_token.py
  services/licensing/README.md
  services/licensing/scripts/get-billing-subscription.sh
  services/licensing/scripts/get-health.sh
  services/licensing/scripts/get-license-public-key.sh
  services/licensing/scripts/get-license-validate.sh
  services/licensing/scripts/get-transfer-accept.sh
  services/licensing/scripts/post-billing-checkout.sh
  services/licensing/scripts/post-billing-portal.sh
  services/licensing/scripts/post-billing-webhook.sh
  services/licensing/scripts/post-license-issue.sh
  services/licensing/scripts/post-transfer-accept.sh
  services/licensing/scripts/post-transfer-initiate.sh
  services/licensing/scripts/post-trial-claim.sh
  services/licensing/scripts/post-trial-consume.sh
  services/licensing/scripts/post-trial-start.sh
  services/licensing/src/billing.ts
Owners: @atropos/desktop-team, @atropos/server-team, @atropos/licensing-team

fixing services stuff
  .vscode/settings.json
  services/licensing/package-lock.json
  services/licensing/package.json
  services/licensing/wrangler.toml
Owners: @atropos/core-maintainers, @atropos/licensing-team

feat(identity): switch licensing to device hashes
  desktop/src/lib/accessStore.ts
  desktop/src/lib/apiClient.ts
  desktop/src/lib/deviceId.ts
  desktop/src/main/deeplink.ts
  desktop/src/main/index.ts
  desktop/src/renderer/src/tests/pipelineapi.test.ts
  services/licensing/README.md
  services/licensing/scripts/get-billing-subscription.sh
  services/licensing/scripts/get-transfer-accept.sh
  services/licensing/scripts/post-billing-checkout.sh
  services/licensing/scripts/post-billing-portal.sh
  services/licensing/scripts/post-license-issue.sh
  services/licensing/scripts/post-transfer-accept.sh
  services/licensing/scripts/post-transfer-initiate.sh
  services/licensing/scripts/post-trial-claim.sh
  services/licensing/scripts/post-trial-consume.sh
  services/licensing/scripts/post-trial-start.sh
  services/licensing/src/billing.ts
  services/licensing/src/billing/checkout.ts
  services/licensing/src/billing/client.ts
  services/licensing/src/billing/portal.ts
  services/licensing/src/billing/types.ts
  services/licensing/src/billing/webhook.ts
  services/licensing/src/kv.ts
  services/licensing/src/kv/user.ts
  services/licensing/src/lib/identity.ts
  services/licensing/src/license/issue.ts
  services/licensing/src/license/validate.ts
  services/licensing/src/transfer/accept.ts
  services/licensing/src/transfer/complete.ts
  services/licensing/src/transfer/initiate.ts
  services/licensing/src/trial/claim.ts
  services/licensing/src/trial/consume.ts
  services/licensing/src/trial/start.ts
Owners: @atropos/desktop-team, @atropos/licensing-team

package and wrangler and node:crypto
  .gitignore
  desktop/src/lib/deviceId.ts
  services/licensing/package.json
  services/licensing/wrangler.toml
Owners: @atropos/core-maintainers, @atropos/desktop-team, @atropos/licensing-team

feat(desktop): unify entitlement gating
  desktop/src/lib/accessStore.ts
  desktop/src/main/index.ts
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/hooks/useAccess.ts
  desktop/src/renderer/src/pages/Profile.tsx
  desktop/src/renderer/src/tests/pipelineapi.test.ts
  services/licensing/src/http/cors.ts
Owners: @atropos/desktop-team, @atropos/licensing-team

fix(desktop): stabilise entitlement flow
  desktop/src/lib/accessStore.ts
  desktop/src/renderer/index.html
Owners: @atropos/desktop-team

feat(desktop): align trial gating and profile layout
  desktop/src/lib/accessStore.ts
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/pages/Profile.tsx
Owners: @atropos/desktop-team

feat(desktop): streamline entitlement messaging
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/pages/Profile.tsx
Owners: @atropos/desktop-team

fix(desktop): streamline profile access summary
  desktop/src/renderer/src/pages/Profile.tsx
Owners: @atropos/desktop-team

feat(profile): consolidate auth controls in access panel
  desktop/src/renderer/src/pages/Profile.tsx
Owners: @atropos/desktop-team

fix(desktop): harden device identity fallbacks
  desktop/src/lib/deviceId.ts
Owners: @atropos/desktop-team

fix(desktop): repair checkout flow and library gating
  desktop/src/lib/accessStore.ts
  desktop/src/renderer/src/App.tsx
Owners: @atropos/desktop-team

feat(desktop): auto start trial during startup
  desktop/src/main/index.ts
Owners: @atropos/desktop-team

fix(access): persist device record during trial bootstrap
  desktop/src/main/index.ts
  services/licensing/src/kv/user.ts
Owners: @atropos/desktop-team, @atropos/licensing-team

fix(desktop): rely on subscription state for trial bootstrap
  desktop/src/main/index.ts
Owners: @atropos/desktop-team

updating pipeline
  server/pipeline.py
Owners: @atropos/server-team

updating pipeline
  server/pipeline.py
Owners: @atropos/server-team

settings
  .vscode/settings.json
Owners: @atropos/core-maintainers

feat(trial): add access gating and worker trial state
  desktop/README.md
  desktop/src/main/device.ts
  desktop/src/main/index.ts
  desktop/src/preload/index.d.ts
  desktop/src/preload/index.ts
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/components/AccessBadge.tsx
  desktop/src/renderer/src/components/AccessGate.tsx
  desktop/src/renderer/src/config/licensing.ts
  desktop/src/renderer/src/hooks/useAccess.ts
  desktop/src/renderer/src/main.tsx
  desktop/src/renderer/src/providers/AccessProvider.tsx
  desktop/src/renderer/src/services/accessApi.ts
  desktop/src/renderer/src/services/device.ts
  docs/AGENTS.md
  docs/ARCHITECTURE.md
  services/licensing/README.md
  services/licensing/src/index.ts
  services/licensing/src/lib/http.ts
  services/licensing/src/lib/kv.ts
  services/licensing/src/lib/trial.ts
  services/licensing/src/routes/trial/consume.ts
  services/licensing/src/routes/trial/status.ts
Owners: @atropos/desktop-team, @atropos/core-maintainers, @atropos/licensing-team

feat(desktop): surface subscription link for lapsed access
  desktop/README.md
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/components/AccessGate.tsx
  desktop/src/renderer/src/config/subscription.ts
  desktop/src/renderer/src/env.d.ts
  docs/ARCHITECTURE.md
  services/licensing/README.md
  services/licensing/wrangler.toml
Owners: @atropos/desktop-team, @atropos/core-maintainers, @atropos/licensing-team

chore(licensing): configure wrangler account id placeholder
  docs/ARCHITECTURE.md
  services/licensing/README.md
  services/licensing/wrangler.toml
Owners: @atropos/core-maintainers, @atropos/licensing-team

.github/CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Review is required from these owners when matching files change.

*                                   @atropos/core-maintainers
/docs/**                            @atropos/core-maintainers
CHANGELOG.md                        @atropos/core-maintainers

# Desktop client
/desktop/**                         @atropos/desktop-team

# Python services
/server/**                          @atropos/server-team

# Licensing worker
/services/licensing/**              @atropos/licensing-team

# Infrastructure & deployment
/infrastructure/**                  @atropos/infra-team

# GitHub metadata
.github/**                          @atropos/devx-team
