Repository Noupin/atropos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @atropos/core-maintainers, @atropos/desktop-team, @atropos/server-team, @atropos/licensing-team, @atropos/infra-team, @atropos/devx-team

removing clips per page text
  desktop/src/renderer/src/pages/Library.tsx
Owners: @atropos/desktop-team

fix(desktop): hide rerun button for pending steps
  desktop/src/renderer/src/components/PipelineProgress.tsx
  desktop/src/renderer/src/data/pipeline.ts
  desktop/src/renderer/src/pages/Home.tsx
  desktop/src/renderer/src/services/pipelineApi.ts
  desktop/src/renderer/src/state/usePipelineProgress.ts
  desktop/src/renderer/src/tests/home.test.tsx
  desktop/src/renderer/src/tests/pipelineprogress.test.tsx
  server/app.py
  server/pipeline.py
Owners: @atropos/desktop-team, @atropos/server-team

fix(pipeline): reset rerun artifacts and shrink rerun control
  desktop/src/renderer/src/components/PipelineProgress.tsx
  desktop/src/renderer/src/tests/home.test.tsx
  desktop/src/renderer/src/tests/pipelineprogress.test.tsx
  server/helpers/cleanup.py
  server/pipeline.py
  tests/test_pipeline_cleanup.py
Owners: @atropos/desktop-team, @atropos/server-team, @atropos/core-maintainers

fix(desktop): clarify pipeline rerun tooltip
  desktop/src/renderer/src/components/PipelineProgress.tsx
  desktop/src/renderer/src/tests/home.test.tsx
  desktop/src/renderer/src/tests/pipelineprogress.test.tsx
Owners: @atropos/desktop-team

fix(desktop): update rerun refresh icon
  desktop/src/renderer/src/components/PipelineProgress.tsx
Owners: @atropos/desktop-team

fix(desktop): display rerun tooltip
  desktop/src/renderer/src/components/PipelineProgress.tsx
Owners: @atropos/desktop-team

feat(layouts): enable custom layout deletion
  desktop/src/main/index.ts
  desktop/src/main/layouts.ts
  desktop/src/preload/index.ts
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
  desktop/src/renderer/src/pages/VideoPage.tsx
  desktop/src/renderer/src/pages/video/LayoutModeView.tsx
  desktop/src/renderer/src/services/layouts.ts
  desktop/src/renderer/src/tests/layoutEditor.test.tsx
  desktop/src/renderer/src/tests/layoutServices.test.ts
  desktop/src/types/api.ts
Owners: @atropos/desktop-team

fix(layouts): expose deletion bridge with fallback
  desktop/src/preload/index.d.ts
  desktop/src/renderer/src/services/layouts.ts
  desktop/src/renderer/src/tests/layoutServices.test.ts
Owners: @atropos/desktop-team

fix(layouts): align layout root with pipeline output
  server/config.py
  server/layouts/loader.py
  tests/test_layout_loader.py
Owners: @atropos/server-team, @atropos/core-maintainers

refactor(layouts): migrate default layout to json
  layouts/builtin/default.json
  server/README.md
  server/steps/render_layouts/__init__.py
  server/steps/render_layouts/base.py
  server/steps/render_layouts/centered_with_corners.py
  server/steps/render_layouts/centered_zoom.py
  server/steps/render_layouts/left_aligned_zoom.py
  server/steps/render_layouts/no_zoom.py
  tests/test_layout_loader.py
Owners: @atropos/core-maintainers, @atropos/server-team

fix(desktop): honour shared layouts root
  desktop/src/main/layouts.ts
Owners: @atropos/desktop-team

fix(layouts): trim builtins and align storage roots
  desktop/resources/layouts/builtin/centered.json
  desktop/resources/layouts/builtin/centered_with_corners.json
  desktop/resources/layouts/builtin/default.json
  desktop/resources/layouts/builtin/left_aligned.json
  desktop/resources/layouts/builtin/no_zoom.json
  desktop/src/main/layouts.ts
  desktop/src/renderer/src/pages/settingsMetadata.ts
  desktop/src/renderer/src/tests/layoutServices.test.ts
  desktop/src/renderer/src/tests/profile.test.tsx
  layouts/builtin/centered.json
  layouts/builtin/centered_with_corners.json
  layouts/builtin/no_zoom.json
  server/README.md
  server/app.py
  server/config.py
  server/pipeline.py
  server/steps/render.py
Owners: @atropos/desktop-team, @atropos/core-maintainers, @atropos/server-team

fix(desktop): reuse shared layouts directory
  desktop/src/main/layouts.ts
Owners: @atropos/desktop-team

fix(desktop): reuse shared layouts sibling when present
  desktop/src/main/__tests__/layoutsRoot.test.ts
  desktop/src/main/layouts.ts
Owners: @atropos/desktop-team

fixing layout
  desktop/layouts/builtin/default.json
Owners: @atropos/desktop-team

removing dupes
  desktop/resources/layouts/builtin/default.json
Owners: @atropos/desktop-team

fix(desktop): locate builtin layouts from repo root
  desktop/src/main/__tests__/layoutsBuiltin.test.ts
  desktop/src/main/layouts.ts
Owners: @atropos/desktop-team

feat(desktop): persist window bounds
  desktop/src/main/__tests__/windowState.test.ts
  desktop/src/main/index.ts
  desktop/src/main/windowState.ts
Owners: @atropos/desktop-team

fix(layout): preserve render progress animation
  desktop/src/renderer/src/pages/VideoPage.tsx
Owners: @atropos/desktop-team

fix(desktop): restore layout render progress reset
  desktop/src/renderer/src/pages/VideoPage.tsx
Owners: @atropos/desktop-team

fix(desktop): rerun clip rebuilds without job context
  desktop/src/renderer/src/pages/VideoPage.tsx
Owners: @atropos/desktop-team

fix(desktop): include layout id in clip adjustments
  desktop/src/renderer/src/pages/VideoPage.tsx
Owners: @atropos/desktop-team

fix(desktop): fallback to default layout on render errors
  desktop/src/renderer/src/components/layout/LayoutEditorPanel.tsx
  desktop/src/renderer/src/pages/VideoPage.tsx
  desktop/src/renderer/src/services/clipLibrary.ts
  desktop/src/renderer/src/services/pipelineApi.ts
Owners: @atropos/desktop-team

fix(desktop): prefer new default layout fallback
  desktop/src/renderer/src/pages/VideoPage.tsx
Owners: @atropos/desktop-team

.github/CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Review is required from these owners when matching files change.

*                                   @atropos/core-maintainers
/docs/**                            @atropos/core-maintainers
CHANGELOG.md                        @atropos/core-maintainers

# Desktop client
/desktop/**                         @atropos/desktop-team

# Python services
/server/**                          @atropos/server-team

# Licensing worker
/services/licensing/**              @atropos/licensing-team

# Infrastructure & deployment
/infrastructure/**                  @atropos/infra-team

# GitHub metadata
.github/**                          @atropos/devx-team
