Repository Noupin/atropos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @atropos/core-maintainers, @atropos/desktop-team, @atropos/server-team, @atropos/licensing-team, @atropos/infra-team, @atropos/devx-team

.github/CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Review is required from these owners when matching files change.

*                                   @atropos/core-maintainers
/docs/**                            @atropos/core-maintainers
CHANGELOG.md                        @atropos/core-maintainers

# Desktop client
/desktop/**                         @atropos/desktop-team

# Python services
/server/**                          @atropos/server-team

# Licensing worker
/services/licensing/**              @atropos/licensing-team

# Infrastructure & deployment
/infrastructure/**                  @atropos/infra-team

# GitHub metadata
.github/**                          @atropos/devx-team

fix(web): generalize result confirmation pages
  web/subscription-cancel.html
  web/subscription-success.html
Owners: @atropos/core-maintainers

chaning file name and toggle off follows for now
  web/cancel.html
  web/index.html
  web/success.html
Owners: @atropos/core-maintainers

readme update
  web/README.md
Owners: @atropos/core-maintainers

fixing cancellation verbiage
  web/cancel.html
  web/success.html
Owners: @atropos/core-maintainers

fix(web): improve mobile layout spacing
  web/css/styles.css
Owners: @atropos/core-maintainers

fix(web): tighten mobile hero spacing
  web/css/styles.css
Owners: @atropos/core-maintainers

fix(web): tighten mobile hero spacing
  web/css/styles.css
  web/js/phrase-rotator.js
Owners: @atropos/core-maintainers

style(web): tighten hero spacing on mobile
  web/css/styles.css
Owners: @atropos/core-maintainers

updating pipeline
  server/pipeline.py
Owners: @atropos/server-team

fix(hero): collapse mobile signup spacing
  web/css/styles.css
Owners: @atropos/core-maintainers

fixing spacing
  web/css/styles.css
Owners: @atropos/core-maintainers

style(nav): tighten compact padding
  web/css/styles.css
Owners: @atropos/core-maintainers

fix(web): center brand in compact nav
  web/css/styles.css
Owners: @atropos/core-maintainers

fix(web): collapse top nav cta when empty
  web/css/styles.css
Owners: @atropos/core-maintainers

feat(desktop): hibernate auth refresh during inactivity
  desktop/src/renderer/src/state/access.tsx
Owners: @atropos/desktop-team

updating timings
  desktop/src/renderer/src/state/access.tsx
Owners: @atropos/desktop-team

fix(access): throttle focus-triggered refreshes
  desktop/src/renderer/src/state/access.tsx
  desktop/src/renderer/src/state/accessTypes.ts
Owners: @atropos/desktop-team

feat(desktop): pad trim window bounds
  desktop/src/renderer/src/pages/VideoPage.tsx
Owners: @atropos/desktop-team

feat(library): display clip counts without loading clips
  desktop/src/renderer/src/config/backend.ts
  desktop/src/renderer/src/pages/Library.tsx
  desktop/src/renderer/src/services/clipLibrary.ts
  server/interfaces/clips.py
Owners: @atropos/desktop-team, @atropos/server-team

fix(desktop): refresh clip counts reliably
  desktop/src/renderer/src/pages/Library.tsx
  desktop/src/renderer/src/services/clipLibrary.ts
Owners: @atropos/desktop-team

fix(desktop): keep clip counts in sync after tab switches
  desktop/src/renderer/src/pages/Library.tsx
Owners: @atropos/desktop-team

fix(library): refresh clip counts on tab activation
  desktop/src/renderer/src/pages/Library.tsx
  desktop/src/renderer/src/services/clipLibrary.ts
Owners: @atropos/desktop-team

fix(desktop): restore last used account selection
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/tests/app.test.tsx
Owners: @atropos/desktop-team

fix(desktop): restore persisted account selection
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/tests/app.test.tsx
Owners: @atropos/desktop-team

fix(desktop): persist account selection
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/tests/app.test.tsx
Owners: @atropos/desktop-team

fix(desktop): hydrate stored account selection
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/tests/app.test.tsx
Owners: @atropos/desktop-team

no price in verbiage
  web/index.html
Owners: @atropos/core-maintainers

fix(desktop): show library video error states
  desktop/src/renderer/src/pages/Library.tsx
Owners: @atropos/desktop-team

fix(instagram): avoid duplicate reel uploads
  server/integrations/instagram/upload.py
Owners: @atropos/server-team

fix(instagram): treat clip validation error as success
  server/integrations/instagram/upload.py
  tests/test_instagram_upload_validation.py
Owners: @atropos/server-team, @atropos/core-maintainers

updating pipeline
  server/pipeline.py
Owners: @atropos/server-team

adding docker commands
  README.md
Owners: @atropos/core-maintainers

feat(desktop): refresh access status based on jwt expiry
  desktop/src/renderer/src/services/licensing.ts
  desktop/src/renderer/src/state/access.tsx
  desktop/src/renderer/src/state/accessTypes.ts
  desktop/src/renderer/src/tests/app.test.tsx
  desktop/src/renderer/src/tests/home.offline.test.tsx
  desktop/src/renderer/src/tests/profile.test.tsx
Owners: @atropos/desktop-team

feat(pipeline): support cancelling running jobs
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/config/backend.ts
  desktop/src/renderer/src/pages/Home.tsx
  desktop/src/renderer/src/services/pipelineApi.ts
  desktop/src/renderer/src/state/usePipelineProgress.ts
  desktop/src/renderer/src/tests/app.test.tsx
  desktop/src/renderer/src/tests/home.offline.test.tsx
  desktop/src/renderer/src/tests/home.test.tsx
  desktop/src/renderer/src/tests/pipelineapi.test.ts
  server/app.py
  server/pipeline.py
  tests/test_api.py
Owners: @atropos/desktop-team, @atropos/server-team, @atropos/core-maintainers

fix(desktop): show cancelled pipeline state
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/components/PipelineProgress.tsx
  desktop/src/renderer/src/lib/pipelineProgress.ts
  desktop/src/renderer/src/state/usePipelineProgress.ts
  desktop/src/renderer/src/tests/pipelineprogress.test.tsx
  desktop/src/renderer/src/types.ts
Owners: @atropos/desktop-team

fix(desktop): render cancelled pipelines neutrally
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/components/PipelineProgress.tsx
  desktop/src/renderer/src/state/usePipelineProgress.ts
Owners: @atropos/desktop-team

fix(desktop): treat cancelled pipelines as neutral state
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/pages/Home.tsx
  desktop/src/renderer/src/state/usePipelineProgress.ts
Owners: @atropos/desktop-team

feat(captions): add word-level caption highlighting
  server/config.py
  server/helpers/transcript.py
  server/steps/render.py
  server/steps/subtitle.py
  server/steps/transcribe.py
  tests/test_subtitle_words.py
  tests/test_transcribe.py
Owners: @atropos/server-team, @atropos/core-maintainers

fix(render): ensure clips stay in sync
  server/app.py
  server/pipeline.py
  server/steps/render.py
Owners: @atropos/server-team

fix(pipeline): reset project directory on rerun
  server/pipeline.py
Owners: @atropos/server-team
